@charset "utf-8";

html {
    height: 100%;
    margin: 0;
    overflow-y: scroll;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "dotum", "Segoe UI", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    font-size: 13px;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: #0366d6;
}
.pagination__ a {
    color: rgba(0, 0, 0, 0.87);
}

img {
	max-width: 100%;
	display: block;
   	margin: 0 auto;
}

[lang] {
	display: none;
}

/* input element styles */
input[type='text'], input[type='number'], input[type='tel'], input[type='password'], select, textarea {
	font-family: "Malgun Gothic", "dotum", "Noto Sans KR", "Apple SD Gothic Neo", "Segoe UI", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    vertical-align: middle;
    box-sizing: border-box;
    width: 100%;
    padding: 0 3px 3px 3px;
    border: 1px solid #C8E6C9;
    line-height: 17px;
}

select {
    padding: 0;
}

.searchBox select {
    width: auto;
}

input[readonly], input[readonly]:hover, input[readonly]:focus {
    background-color: #E8F5E9 !important;
}

input[disabled][type='text'],
input[disabled][type='number'],
input[disabled][type='tel'],
select[disabled],
textarea[disabled],
input[disabled][type='text']:hover,
input[disabled][type='number']:hover,
input[disabled][type='tel']:hover,
select[disabled]:hover,
textarea[disabled]:hover,
input[disabled][type='text']:focus,
input[disabled][type='number']:focus,
input[disabled][type='tel']:focus,
select[disabled]:focus,
textarea[disabled]:focus {
    background-color: #E8F5E9;
	color: rgba(0, 0, 0, 0.4) !important;
}

input[type='radio'], input[type='checkbox'] {
    vertical-align: middle;
    border: none;
}

.select_input_label__ input[type='radio'], .select_input_label__ input[type='checkbox'] {
    margin: -2px 4px 0 10px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
	border: 1px solid #81C784;
	word-break: break-all;
	padding: 5px;
}

.form__ th, .form__ td,
.grid__ th, .grid__ td {
    padding: 2px 3px;
    line-height: 18px;
}

th, tfoot td {
	background-color: #A5D6A7;
	text-shadow: 0 1px 0 #81C784;
    font-weight: 400;
    color: #FFFFFF;
}

.grid__ tr>th:first-child,
.form__ tr>th:first-child {
    border-left-color: #A5D6A7;
}

.grid__ tr>td:first-child,
.form__ tr>td:first-child {
    border-left-color: #FFFFFF;
}

.grid__ tr>th:last-child,
.form__ tr>th:last-child {
    border-right-color: #A5D6A7;
}

.grid__ tr>td:last-child,
.form__ tr>td:last-child {
	border-right-color: #FFFFFF;
}

.grid__>tbody:nth-child(odd), .list__>li:nth-child(odd) {
    background-color: #FEFEFE;
}

.list__ {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list__>li {
    margin: 0;
    padding: 2px 3px;
    border-left: none;
	border-right: none;
    line-height: 18px;
    border-top: 1px solid #A5D6A7;
}

.list__>li:last-child {
    border-bottom: 1px solid #A5D6A7;
}

.btn-box {
    padding: 10px 0;
    text-align: right;
}

.pagination-box {
    padding: 10px 0;
    text-align: center;
}

.popup__ .view_context__ {
    padding: 20px 20px 10px 20px;
}

/* Index */
.page-wrap {
    min-height: 100%;
}

.main-nav {
    position: fixed;
    width: 250px;

    transform-origin: left;
    transition: margin-left 0.5s ease;

    background-color: #1B5E20;
    min-height: 100%;

    z-index: 2;
}

.content-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;

    position: relative;
    min-height: 100%;
    margin-left: 250px;
    transition: margin-left 0.5s ease;
}

.page-header {
    height: 75px;
}

.main-contents {
}

.page-footer {
}

/* Layouts */
.flex-horizental {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-horizental>* {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-right: 10px;
}

.flex-horizental>*:last-child {
    margin-right: 0;
}

.flex-vertical {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-vertical>* {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-bottom: 10px;
}

.flex-vertical>*:last-child {
    margin-bottom: 0;
}

.fileSummaryList {
    margin-left: 5px;
}

/* view common */
.view-intro {
    cursor: default;
}

.view-intro .view-desc {
    position: absolute;
    background-color: #E8F5E9;
    border: 1px solid #A5D6A7;
    margin: 0;
    padding: 10px 10px 10px 30px;
    line-height: 200%;
    opacity: 0;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);

    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.3s ease, opacity 0.15s ease;
    z-index: 1;
}

.view-intro:hover .view-desc {
    will-change: transform, opacity;

    opacity: 1;
    transform: scaleY(1);
}

/* margins */
.mb10 {
    margin-bottom: 10px;
}

.alert:not(article) {
    display: inline-block;
    margin: 5px;
    padding: 0.23em 0.5em 0.3em 1.8em;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAkElEQVQoz5WQQQrCUAxE3/z/FXqDegnPUC8k9AIFV17LjZfpBVzUn7ipIDZiGxgCk2EyiQwubKgEDBv0Awb+zRp0Bl3Ae/nhdJr7LYq0rcJIUmtSG2njDe497n00koELdgCC5+xUFPnAhEGd4TXnvcH1g1ugJMjvfKr1DoxIh+Q+/jv+YXCemmbd50w6rtG9ANZ+P7VXtHZhAAAAAElFTkSuQmCC') no-repeat 6px 6px;
    font-size: 0.95em;
    line-height: 1.7;
    opacity: 0.8;
    background-color: #E8F5E9;
    border: 1px solid #C8E6C9;
}

.alert p {
    margin: 0;
}

article ul.contents {
	margin: 0 0 15px 0;
}

article p {
	margin: 0 0 10px 0;
}

article div.grid_wrap__ {
	margin-bottom: 15px;
}

article .btnBox {
	margin-bottom: 15px;
	line-height: 40px;
}

/* API Document */
.apiDoc .italic {
    font-style: italic;
}

.apiDoc .depricated {
	text-decoration: line-through;
	color: #C8E6C9;
}

.apiDoc a>sup {
    color: #0366d6;
    text-decoration: none;
}

.apiDoc hr {
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: #C8E6C9;
    border: 0;
}

.apiDoc ul, .apiDoc ol {
    padding-left: 30px;
}
.apiDoc .tab__>ul,
.apiDoc ul.list__,
.apiDoc .pagination__ > ul {
	padding-left: inherit;
}

.apiDoc table th {
	width: 11%;
}

.apiDoc ul.list>li {
	padding-top: 15px;
	padding-bottom: 15px;
}

.apiDoc fieldset {
	display: inline-block;
	border: 1px dotted #66BB6A;
	border-radius: 5px;
	padding: 0 0 0 10px;
}

.apiDoc fieldset legend {
	font-size: -9em;
	color : rgba(0, 0, 0, 0.87);;
}

.apiDoc .b {
	font-weight: bold;
}

.apiDoc .bi {
	font-weight: bold;
	font-style: italic;
}

.apiDoc .apidemo {
	margin: 15px 0 0 0;
}

.apiDoc .apidemo table th, .apiDoc .apidemo table td, .apiDoc .apidemo input[type='text'], .apiDoc .apidemo input[type='number'], .apiDoc .apidemo input[type='tel'], .apiDoc .apidemo input[type='password'], .apiDoc .apidemo select, .apiDoc .apidemo textarea {
	font-size: 1em;
}

.apiDoc .apidemo table.grid th {
	width: auto;
}

.apiDoc .apidemo>article table.form th {
	min-width: 10%;
}

.apiDoc .apidemo>article .result {
	border: 1px solid #A5D6A7;
	border-radius: 3px;
	padding: 10px;
	margin: 0 0 15px 0;
	background-color: #ffffff;
	text-align: left;
}

.apiDoc .apidemo>article textarea {
	width: 100%;
	height: 56px;
}

.apiDoc .apidemo>article .dataBox {
	margin-bottom: 15px;
}

.apiDoc .apidemo .form td {
	position: relative;
}

.apiDoc .apidemo .form .demo-desc {
	position: absolute;
    padding: 5px;
    margin: 0;
	margin-bottom: 15px;
    overflow: auto;
    background-color: #fff;
    border: 1px solid #81C784;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.2);
    background-color: #E8F5E9;
	z-index: 1;
	opacity: 0;
	font-size: 12px;
	transform : scale(0);
	transition: transform 0.15s linear, opacity 0.15s linear;
	transform-origin: top left;
}

.apiDoc .apidemo .form select:focus+.demo-desc,
.apiDoc .apidemo .form input:focus+.demo-desc,
.apiDoc .apidemo .form textarea:focus+.demo-desc {
	will-change: transform, opacity;
	margin-bottom: 15px;
	opacity: 1;
	transform : scale(1);
	transition: transform 0.3s ease, opacity 0.3s ease;
	transform-origin: top left;
}

.docs_contents__>.view_context__ {
    word-break: break-word;
}

/* Examples */
.docs_contents__>.view_context__ .searchBox {
	background-color: #E8F5E9;
	border-radius: 3px;
	margin-bottom: 10px;
}

.docs_contents__>.view_context__ .searchBox ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 5px;
}

.docs_contents__>.view_context__ .searchBox ul li {
	margin: 0;
	padding-bottom: 5px;
}

.docs_contents__>.view_context__ .searchBox ul li.inputs {
	border-bottom: 1px dotted #C8E6C9;
}

.docs_contents__>.view_context__ .searchBox ul li.buttons {
	padding: 5px;
	text-align: right;
}

.docs_contents__>.view_context__ .searchBox ul li:first-child.buttons {
	padding-top: 0;
}

.docs_contents__>.view_context__ .formGroup {
	margin-bottom: 10px;
}

.docs_contents__>.view_context__ .searchBox li>label {
	margin: 0 10px 0 10px;
	font-weight: bold;
}

.docs_contents__>.view_context__ .searchBox li>label label {
	font-weight: normal;
}

.docs_contents__>.view_context__ .searchBox input,
.docs_contents__>.view_context__ .searchBox select,
.docs_contents__>.view_context__ .searchBox textarea {
	margin-left: 15px;
	border-color: #C8E6C9;
}

.docs_contents__>.view_context__ .searchBox input[type='text'],
.docs_contents__>.view_context__ .searchBox input[type='number'],
.docs_contents__>.view_context__ .searchBox input[type='tel'] {
	width: 85px;
}

.docs_contents__>.view_context__ .form input[type='text'], .docs_contents__>.view_context__ .form input[type='number'], .docs_contents__>.view_context__ .form input[type='tel'] {
	width: 100%;
}

.docs_contents__ .view_context__ .click {
	margin-top: 30px;
	padding: 5px 40px 5px 15px;
	background: url("../images/comm/icon/click.png") no-repeat 160px 6px;
	display: inline-block;
	height: 35px;
	font-weight: bold;
	color : rgba(0, 0, 0, 0.87);;
	border: 1px dotted #4CAF50;
	border-radius: 3px;
	box-shadow: 1px 1px 3px #BCFBBC;
	background-color: #E8F5E9;
	cursor: pointer;
	font-size: 17px;
}

.docs_contents__>.view_context__ h1,
.docs_contents__>.view_context__ h2,
.docs_contents__>.view_context__ h3,
.docs_contents__>.view_context__ h4,
.docs_contents__>.view_context__ h5,
.docs_contents__>.view_context__ h6 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 1.25;
}

.docs_contents__>.view_context__ h1 .octicon-link,
.docs_contents__>.view_context__ h2 .octicon-link,
.docs_contents__>.view_context__ h3 .octicon-link,
.docs_contents__>.view_context__ h4 .octicon-link,
.docs_contents__>.view_context__ h5 .octicon-link,
.docs_contents__>.view_context__ h6 .octicon-link {
    color: #1b1f23;
    vertical-align: middle;
    visibility: hidden;
}

.docs_contents__>.view_context__ h1:hover .anchor,
.docs_contents__>.view_context__ h2:hover .anchor,
.docs_contents__>.view_context__ h3:hover .anchor,
.docs_contents__>.view_context__ h4:hover .anchor,
.docs_contents__>.view_context__ h5:hover .anchor,
.docs_contents__>.view_context__ h6:hover .anchor {
    text-decoration: none;
}

.docs_contents__>.view_context__ h1:hover .anchor .octicon-link,
.docs_contents__>.view_context__ h2:hover .anchor .octicon-link,
.docs_contents__>.view_context__ h3:hover .anchor .octicon-link,
.docs_contents__>.view_context__ h4:hover .anchor .octicon-link,
.docs_contents__>.view_context__ h5:hover .anchor .octicon-link,
.docs_contents__>.view_context__ h6:hover .anchor .octicon-link {
    visibility: visible;
}

.docs_contents__>.view_context__ h1 {
    padding-bottom: 0.5em;
    font-size: 1.5em;
    border-bottom: 1px solid #C8E6C9;
}

.docs_contents__>.view_context__ h2 {
    padding-bottom: 0.4em;
    font-size: 1.3em;
    border-bottom: 1px solid #C8E6C9;
}

.docs_contents__>.view_context__ h3 {
    font-size: 1.15em;
}

.docs_contents__>.view_context__ h4 {
    font-size: 1em;
}

.docs_contents__>.view_context__ h5 {
    font-size: 0.875em;
}

.docs_contents__>.view_context__ h6 {
    font-size: 0.85em;
    color: #6a737d;
}

.docs_contents__ .view_context__>*:first-child,
.docs_contents__ .view_context__>.view-intro>*:first-child {
    margin-top: 0;
}

.docs_contents__ .view_context__>*:last-child {
    margin-bottom: 0;
}

.docs_contents__ .view_context__ pre,
pre.shell {
    padding: 16px;
    overflow: auto;
    background-color: #E8F5E9B3;
    border-radius: 3px;
    line-height: 1.65;
    word-wrap: normal;
}

.docs_contents__ .view_context__ pre>code,
pre.shell>code {
    font-family: Consolas, monospace;
    display: inline;
    word-break: normal;
    word-wrap: normal;
    white-space: pre;
    overflow: visible;
    font-size: 12px;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .main-nav {
        display : none;
    }

    .demo .form.options colgroup col:nth-child(2n-1) {
        width: 22% !important;
    }
    .demo .form.options colgroup col:nth-child(2n) {
        width: auto !important;
    }

    .demo .form.methods colgroup col:nth-child(1) {
        width: 20% !important;
    }
    .demo .form.methods colgroup col:nth-child(2) {
        width: 32% !important;
    }
    .demo .form.methods colgroup col:nth-child(3) {
        width: auto !important;
    }

    .apiDoc .api.form,
    .apiDoc .api.form tbody,
    .apiDoc .api.form tr {
        display: block;
    }

    .apiDoc .api.form th {
        display: none;
    }

    .apiDoc .api.form td {
        display: list-item;
        list-style: none;
        width: 100%;
        border: none;
        margin: 0;
        padding: 5px 17px;
        box-sizing: border-box;
        border-left: 0.25em solid #A5D6A7;
        text-shadow: none;
        color: rgba(0, 0, 0, 0.87);
        text-align: left !important;
        font-size: 0.9em;
    }

    .apiDoc .api.form tr>td:first-child {
        font-size: 1em;
        border: none;
        padding: 0 10px;
        line-height: 2.5;
        background-color: #A5D6A7;
        text-shadow: 0 1px 0 #81C784;
        font-weight: 400;
        color: #FFFFFF;
        margin-bottom: 15px;
    }

    .apiDoc .api.form tr>td:last-child {
        margin-bottom: 20px;
    }

    #constructor .apiDoc .api.form tr>td:first-child {
        margin-bottom: 0;
    }
    #constructor .apiDoc .api.form td:nth-child(2):before {
        content: 'arguments : ';
        font-weight: 600;
    }
    #constructor .apiDoc .api.form td:nth-child(3):before {
        content: 'type : ';
        font-weight: 600;
    }
    #constructor .apiDoc .api.form td:nth-child(4):before {
        content: 'return : ';
        font-weight: 600;
    }

    #advisors .apiDoc .api.form td:nth-child(2):before,
    #pointcuts .apiDoc .api.form td:nth-child(2):before,
    #defaultoptions .apiDoc .api.form td:nth-child(2):before {
        content: 'type : ';
        font-weight: 600;
    }
    #advisors .apiDoc .api.form td:nth-child(3):before,
    #pointcuts .apiDoc .api.form td:nth-child(3):before,
    #defaultoptions .apiDoc .api.form td:nth-child(3):before {
        content: 'default : ';
        font-weight: 600;
    }
    #advisors .apiDoc .api.form td:nth-child(4):before,
    #pointcuts .apiDoc .api.form td:nth-child(4):before,
    #defaultoptions .apiDoc .api.form td:nth-child(4):before {
        content: 'required : ';
        font-weight: 600;
    }

    #declarativeoptions .apiDoc .api.form td:nth-child(2):before {
        content: 'type : ';
        font-weight: 600;
    }
    #declarativeoptions .apiDoc .api.form td:nth-child(3):before {
        content: 'default : ';
        font-weight: 600;
    }

    #pluginExtention .apiDoc .api.form tr>td:first-child,
    #n .apiDoc .api.form tr>td:first-child,
    #gc .apiDoc .api.form tr>td:first-child,
    #string .apiDoc .api.form tr>td:first-child,
    #element .apiDoc .api.form tr>td:first-child,
    #date .apiDoc .api.form tr>td:first-child,
    #browser .apiDoc .api.form tr>td:first-child,
    #message .apiDoc .api.form tr>td:first-child,
    #array .apiDoc .api.form tr>td:first-child,
    #json .apiDoc .api.form tr>td:first-child,
    #event .apiDoc .api.form tr>td:first-child,
    #functions .apiDoc .api.form tr>td:first-child,
    #methods .apiDoc .api.form tr>td:first-child {
        margin-bottom: 0;
    }
    #pluginExtention .apiDoc .api.form td:nth-child(2):before,
    #n .apiDoc .api.form td:nth-child(2):before,
    #gc .apiDoc .api.form td:nth-child(2):before,
    #string .apiDoc .api.form td:nth-child(2):before,
    #element .apiDoc .api.form td:nth-child(2):before,
    #date .apiDoc .api.form td:nth-child(2):before,
    #browser .apiDoc .api.form td:nth-child(2):before,
    #message .apiDoc .api.form td:nth-child(2):before,
    #array .apiDoc .api.form td:nth-child(2):before,
    #json .apiDoc .api.form td:nth-child(2):before,
    #event .apiDoc .api.form td:nth-child(2):before,
    #functions .apiDoc .api.form td:nth-child(2):before,
    #methods .apiDoc .api.form td:nth-child(2):before {
        content: 'arguments : ';
        font-weight: 600;
    }
    #pluginExtention .apiDoc .api.form td:nth-child(3):before,
    #n .apiDoc .api.form td:nth-child(3):before,
    #gc .apiDoc .api.form td:nth-child(3):before,
    #string .apiDoc .api.form td:nth-child(3):before,
    #element .apiDoc .api.form td:nth-child(3):before,
    #date .apiDoc .api.form td:nth-child(3):before,
    #browser .apiDoc .api.form td:nth-child(3):before,
    #message .apiDoc .api.form td:nth-child(3):before,
    #array .apiDoc .api.form td:nth-child(3):before,
    #json .apiDoc .api.form td:nth-child(3):before,
    #event .apiDoc .api.form td:nth-child(3):before,
    #functions .apiDoc .api.form td:nth-child(3):before,
    #methods .apiDoc .api.form td:nth-child(3):before {
        content: 'type : ';
        font-weight: 600;
    }
    #pluginExtention .apiDoc .api.form td:nth-child(4):before,
    #n .apiDoc .api.form td:nth-child(4):before,
    #gc .apiDoc .api.form td:nth-child(4):before,
    #string .apiDoc .api.form td:nth-child(4):before,
    #element .apiDoc .api.form td:nth-child(4):before,
    #date .apiDoc .api.form td:nth-child(4):before,
    #browser .apiDoc .api.form td:nth-child(4):before,
    #message .apiDoc .api.form td:nth-child(4):before,
    #array .apiDoc .api.form td:nth-child(4):before,
    #json .apiDoc .api.form td:nth-child(4):before,
    #event .apiDoc .api.form td:nth-child(4):before,
    #functions .apiDoc .api.form td:nth-child(4):before,
    #methods .apiDoc .api.form td:nth-child(4):before {
        content: 'return : ';
        font-weight: 600;
    }
}

.apiDoc .function-desc {
    background-color: #C8E6C9;
    border: none !important;
}
