/* common.css */

@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }
}

/* Layouts */
.flex-horizental>* {
    min-width: auto;
}

/* input element styles */
input[type='text'], input[type='number'], input[type='tel'], input[type='password'], select, textarea {
    color: rgba(0, 0, 0, 0.87);
    vertical-align: middle;
    padding: 0 8px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.38);
    background-color: rgba(0, 0, 0, 0.04);
    line-height: 36px;
    /* min-width: 168px; */
    border-radius: 4px 4px 0 0;
}
select {
    padding: 0;
    height: 36px;
}
select[multiple='multiple'] {
    width: 198px;
    padding: 8px 0;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;
}
select[multiple='multiple'] option {
    padding: 8px 16px;
}
.search_box__ select {
    width: auto;
}

input[type='text']:hover, input[type='number']:hover, input[type='tel']:hover, input[type='password']:hover, select:hover, textarea:hover {
    background-color: #ececec !important;
}
input[type='text']:focus, input[type='number']:focus, input[type='tel']:focus, input[type='password']:focus, select:focus, textarea:focus {
    background-color: #ccc !important;
}

input[readonly], input[readonly]:hover, input[readonly]:focus {
    background-color: rgba(0, 0, 0, 0.04) !important;
    border-color: rgba(0, 0, 0, 0.06) !important;
    color: rgba(0, 0, 0, 0.38) !important;
    pointer-events: none;
}

input[disabled][type='text'],
input[disabled][type='number'],
input[disabled][type='tel'],
select[disabled],
textarea[disabled],
input[disabled][type='text']:hover,
input[disabled][type='number']:hover,
input[disabled][type='tel']:hover,
select[disabled]:hover,
textarea[disabled]:hover,
input[disabled][type='text']:focus,
input[disabled][type='number']:focus,
input[disabled][type='tel']:focus,
select[disabled]:focus,
textarea[disabled]:focus {
    background-color: rgba(0, 0, 0, 0.04) !important;
    border-color: rgba(0, 0, 0, 0.06) !important;
    color: rgba(0, 0, 0, 0.38) !important;
    pointer-events: none;
}

input[type='radio'], input[type='checkbox'] {
    vertical-align: middle;
    border: none;
}

.select_input_label__ input[type='radio'], .select_input_label__ input[type='checkbox'] {
    margin: 0 8px 0 16px;
}

.mdc-text-field input, .mdc-text-field textarea,
.mdc-text-field input:hover, .mdc-text-field textarea:hover,
.mdc-text-field input:focus, .mdc-text-field textarea:focus {
    background-color: inherit !important;
}

.popup__ .view_context__ {
    padding: 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}

th, td {
    border: none;
    border-left-color: transparent;
    border-right-color: transparent;
    word-break: break-all;
    padding-right: 16px;
    padding-left: 16px;
    font-size: .875rem;
    letter-spacing: .0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    line-height: 1.25rem;
}
th {
    font-weight: 600;
}

.grid_wrap__ {
    background-color: var(--mdc-theme-surface, #111);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.12) !important;
}
.grid_wrap__ > .grid__ > thead, .thead_wrap__ {
    border-bottom: 1px solid rgba(0,0,0,.12);
}
.tbody_wrap__ {
    background: none;
    border: none !important;
}
.grid_wrap__ > .grid__ > tfoot, .tfoot_wrap__ {
    border-top: 1px solid rgba(0,0,0,.12);
}

.form__ {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;
    background-color: #fff;
}

.grid__ .form__ {
    border-top: none;
    border-radius: inherit;
}
ul.form__ li {
    background-color: rgba(0, 0, 0, 0.04);    
}
.thead_wrap__ thead > tr > th,
.grid__ tbody > tr > td {
    border-bottom: 1px solid #efefef;
}
.thead_wrap__ thead > tr > th[rowspan],
.grid__ tbody > tr > td[rowspan] {
    border-bottom: none;
}
.thead_wrap__ thead > tr:last-child > th,
.grid__ tbody > tr:last-child > td {
    border-bottom: none;
}

/* Column Fixed */
.grid_wrap__ > .grid__ .form__{
    border-left: none;
}
.grid__ .form__:hover {
    background-color: rgba(0,0,0,.04);
}

.grid__ .form__:active {
    background-color: rgba(0,0,0,.12);
}

.form__ th, .form__ td {
    height: 52px;
    line-height: 1.375rem;
    padding: 0 16px;
}

.grid__ th, .grid__ td {
    height: 48px;
    padding: 0 16px;
}
.grid__ th {
    border-top: none;
    height: 52px;
    line-height: 1.375rem;
}

.grid__ .grid_head_fixed__,
.grid__ .grid_body_fixed__ {
    padding: 0 16px;
    line-height: 3.2rem;
    border-bottom: 1px solid rgba(0,0,0,.12) !important;
}
.grid__ .grid_head_fixed__ {
    border-top: 1px solid rgba(0,0,0,.12);
}

.grid__ .grid_head_fixed__:first-child,
.grid__ .form__ .grid_body_fixed__:first-child {
    border-left: 1px solid rgba(0,0,0,.12);
}

th, tfoot td {
    background-color: inherit;
    text-shadow: none;
    color: inherit;
}

.list__ {
    margin: unset;
    padding: unset;
    list-style: unset;

    background-color: var(--mdc-theme-surface, #111);
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.12);
}

.list__>li {
    margin: unset;
    padding: 0 16px;
    border-left: unset;
    border-right: unset;
    line-height: unset;
}
.list__>li:last-child {
    border-bottom: none !important;
}

.list__ .form__ {
    border: unset;
    border-radius: unset;
}

.list__>li:last-child {
    border-bottom: 1px solid #A5D6A7;
}

.tree__ {
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 4px;
    padding: 16px;
}

.grid__>tbody:nth-child(odd), .list__>li:nth-child(odd) {
    background-color: #fff;
}

/* Examples */
.view_context__ .search_box__ {
    margin-bottom: 10px;
}

.view_context__ .form__.search_box__ {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.pagination-box {
    padding: 0;
    text-align: center;
    height: 36px;
}

.view_context__ .form__.search_box__ .criteria-panel ul li {
    background-color: rgba(0, 0, 0, 0.04);
}