@charset "utf-8";

html, body {
	background-color : #008000;
}

body, pre, textarea, select {
    margin: 0;
    font-size: 14px;
	font-family: "Nanum Gothic", "맑은 고딕", "dotum", "Segoe UI", sans-serif;
	color: #004a00;
}

input[type='text'], input[type='password'], select, textarea, pre.data, div.data {
	border-radius: 3px;
	padding: 3px 3px;
	border: 1px solid #cccccc;
	font-size: 14px;
	font-family: "Nanum Gothic", "맑은 고딕", "dotum", "Segoe UI", sans-serif;
	color: #004a00;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
	vertical-align: middle;
}

input[type='text'], input[type='password'] {
	height: 20px;
	line-height: 20px;
}

input[type='text']:hover, input[type='password']:hover, select:hover, textarea:hover,
input[type='text']:focus, input[type='password']:hover, select:focus, textarea:focus {
	border-color: #faaeae;
	background-color: #ffe5e5;
}

input[disabled='disabled'], input[disabled='disabled']:hover, input[disabled='disabled']:focus {
	border-color: #cccccc;
	background-color: #eeeeee;
}

input[readonly='readonly'], input[readonly='readonly']:hover, input[readonly='readonly']:focus {
	border-color: #cccccc;
	background-color: #efffff;
}

input[type='radio'], input[type='checkbox'] {
	margin:0 3px 0 10px;
	vertical-align:middle;
	border:none;
}

a {
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	font-family: "Nanum Gothic", "맑은 고딕", "dotum", "Segoe UI", sans-serif;
	color: #004a00;
}

table {
	width: 100%;
	padding: 0;
	margin: 0 0 15px 0;
	border-collapse: collapse;
}

table td, table th {
	padding: 5px;
}

label {
	color: #006600;
	font-weight: bold;
}

/* demo page layout */
header {
	background: linear-gradient(top, #27a827, #008000);
	background: -ms-linear-gradient(top, #27a827, #008000);
	background: -moz-linear-gradient(top, #27a827, #008000);
	background: -o-linear-gradient(top, #27a827, #008000);
	background: -webkit-linear-gradient(top, #27a827, #008000);
}

header hgroup {
	margin: 0 auto;
	max-width: 1003px;
	min-width: 779px;
	padding-bottom: 20px;
}

header hgroup h1 {
	color: #004a00;
	margin: 0;
	padding: 15px;
	font-weight: bold;
	text-shadow: -1px -1px #008000;
}

header hgroup h2 {
	color: #005100;
	margin: 0 0 0 50px;
	text-shadow: -1px -1px #008000;
}

header nav {
	margin: 0 auto;
	max-width: 1003px;
	min-width: 779px;
}

header nav > ul {
	list-style:none;
    margin:0;
    padding:0;
}

header nav > ul > li {
	margin: 0 0 0 0;
    padding: 15px 15px;
    width: 100px;
    border : 1px solid #27a827;
    float: left;
}

header nav > ul > li > ul {
	clear: both;
	list-style:none;
	display: none;
}

header nav > ul > li:hover > ul {
	display: block;
	width: 312px;
	position: absolute;
	background: #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.5);
	border-radius: 3px;
}

section {
	clear: both;
	margin: 0 auto;
	max-width: 1003px;
	min-width: 779px;
	min-height: 350px;
	word-break: break-all;
	border-radius: 3px;
	background-color: #35ba35;
}

section article {
	padding: 15px;
}

section article pre {
	padding: 16px;
	overflow: auto;
	font-size: 85%;
	line-height: 1.45;
	background-color: #27a827;
	border-radius: 3px;
}

section article pre > code {
	display: inline;
	max-width: initial;
	padding: 0;
	margin: 0;
	overflow: initial;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

footer {
	margin: 0 auto;
	max-width: 1003px;
	min-width: 779px;
}




div#header a#logo {
	font-size: 32px;
	color: #008000;
	font-weight: bold;
}

div#top {
	background: linear-gradient(top, #efefef, #ffffff);
	background: -ms-linear-gradient(top, #efefef, #ffffff);
	background: -moz-linear-gradient(top, #efefef, #ffffff);
	background: -o-linear-gradient(top, #efefef, #ffffff);
	background: -webkit-linear-gradient(top, #efefef, #ffffff);
	background-color: #dddddd;
	position: absolute;
	width: 100%;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.3);
}

div#top div#gnb {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 800px;
}

div#top div#gnb ul.item {
	float: left;
	padding: 0 10px;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

div#top div#gnb ul.item li {
	display: none;
	margin: 1px 0 1px 0;
	padding: 5px 0 0 20px;
}

div#top div#gnb ul.item:hover li {
	display: block;
}

div#main {
	background-color: #ffffff;
	margin: 43px auto;
	max-width: 1200px;
	min-width: 800px;
	border: 1px solid #cccccc;
    border-radius : 0 0 10px 10px;
}

div#main div#contents {
	line-height: 20px;
	border: 1px solid #cdcdcd\9;
	background-color: #ffffff\9;
}

.pre {
	white-space: pre;
	word-break: break-word;
}

.divBar {
	background-color : #efffff;
	color: #007700;
	padding: 5px 5px 5px 10px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	font-weight: bold;
}

.section {
	color: #000080;
	font-weight: bold;
	border-bottom: 1px solid #cccccc;
}

.intro {
	padding: 10px;
}

.intro h1 {
	padding-left: 7px;
	line-height: 15px;
	border-left: 5px solid blue;
	font-size: 14px;
	font-weight: normal;
}

.intro h2 {
	padding-left: 6px;
	line-height: 14px;
	border-left: 5px solid red;
	font-size: 14px;
	font-weight: normal;
	margin-left: 15px;
}

.demoBox {
	padding: 10px;
}

.demoBox .result {
	border: 1px solid #cccccc;
	height: 300px;
	border-radius: 3px;
	overflow: auto;
}

.data {
	width: 99%;
	height: 200px;
	margin-bottom: 15px;
}

.btnBox {
	margin: 0 0 15px 0;
}

.btnBox a {
	margin: 0 10px;
}

.dataBox {
	padding: 10px;
}

.sourceBox {
	display: none;
	white-space: pre;
	word-break: break-word;
	overflow-x: auto;
	padding: 10px;
	background-color: #efefef;
	font-family: "Courier New";
}

/* form example */
table.form {
	width: auto;
}

table.form th {
	background: linear-gradient(left, #efefef, #effeee);
	background: -ms-linear-gradient(left, #efefef, #effeee);
	background: -moz-linear-gradient(left, #efefef, #effeee);
	background: -o-linear-gradient(left, #efefef, #effeee);
	background: -webkit-linear-gradient(left, #efefef, #effeee);
	background-color: #efefef;
}

table.form th, table.form td {
	border: 1px solid #cccccc;
}

table.form tbody td input[type='text']:hover, table.form tbody td select:hover, table.form tbody td textarea:hover,
table.form tbody td input[type='text']:focus, table.form tbody td select:focus, table.form tbody td textarea:focus {
	border-color: #faaeae;
	background-color: #ffe5e5;s
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
}

/* popup example */
div#popupTemp {
	padding: 20px;
}