:root {
  color-scheme: light;
  --md-sys-color-primary: rgb(63 104 54);
  --md-sys-color-surface-tint: rgb(63 104 54);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(192 239 176);
  --md-sys-color-on-primary-container: rgb(0 34 0);
  --md-sys-color-secondary: rgb(84 99 78);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(215 232 205);
  --md-sys-color-on-secondary-container: rgb(18 31 14);
  --md-sys-color-tertiary: rgb(56 101 105);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(188 235 238);
  --md-sys-color-on-tertiary-container: rgb(0 32 34);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(65 0 2);
  --md-sys-color-background: rgb(248 251 241);
  --md-sys-color-on-background: rgb(25 29 23);
  --md-sys-color-surface: rgb(248 251 241);
  --md-sys-color-on-surface: rgb(25 29 23);
  --md-sys-color-surface-variant: rgb(223 228 216);
  --md-sys-color-on-surface-variant: rgb(67 72 63);
  --md-sys-color-outline: rgb(115 121 110);
  --md-sys-color-outline-variant: rgba(195, 200, 188, 0.8);
  --md-sys-color-shadow: rgba(0, 0, 0, 0.25);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(46 50 43);
  --md-sys-color-inverse-on-surface: rgb(239 242 232);
  --md-sys-color-inverse-primary: rgb(165 211 150);
  --md-sys-color-primary-fixed: rgb(192 239 176);
  --md-sys-color-on-primary-fixed: rgb(0 34 0);
  --md-sys-color-primary-fixed-dim: rgb(165 211 150);
  --md-sys-color-on-primary-fixed-variant: rgb(40 80 33);
  --md-sys-color-secondary-fixed: rgb(215 232 205);
  --md-sys-color-on-secondary-fixed: rgb(18 31 14);
  --md-sys-color-secondary-fixed-dim: rgb(187 203 178);
  --md-sys-color-on-secondary-fixed-variant: rgb(60 75 55);
  --md-sys-color-tertiary-fixed: rgb(188 235 238);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 34);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 210);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 77 81);
  --md-sys-color-surface-dim: rgb(216 219 210);
  --md-sys-color-surface-bright: rgb(248 251 241);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(242 245 235);
  --md-sys-color-surface-container: rgb(236 239 229);
  --md-sys-color-surface-container-high: rgb(230 233 224);
  --md-sys-color-surface-container-highest: rgb(225 228 218);
}