:root {
  color-scheme: dark;
  --md-sys-color-primary: rgb(165 211 150);
  --md-sys-color-surface-tint: rgb(165 211 150);
  --md-sys-color-on-primary: rgb(16 56 12);
  --md-sys-color-primary-container: rgb(40 80 33);
  --md-sys-color-on-primary-container: rgb(192 239 176);
  --md-sys-color-secondary: rgb(187 203 178);
  --md-sys-color-on-secondary: rgb(38 52 34);
  --md-sys-color-secondary-container: rgb(60 75 55);
  --md-sys-color-on-secondary-container: rgb(215 232 205);
  --md-sys-color-tertiary: rgb(160 207 210);
  --md-sys-color-on-tertiary: rgb(0 55 58);
  --md-sys-color-tertiary-container: rgb(30 77 81);
  --md-sys-color-on-tertiary-container: rgb(188 235 238);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(17 20 15);
  --md-sys-color-on-background: rgb(225 228 218);
  --md-sys-color-surface: rgb(17 20 15);
  --md-sys-color-on-surface: rgb(225 228 218);
  --md-sys-color-surface-variant: rgb(67 72 63);
  --md-sys-color-on-surface-variant: rgb(195 200 188);
  --md-sys-color-outline: rgb(141 147 135);
  --md-sys-color-outline-variant: rgb(67 72 63);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(225 228 218);
  --md-sys-color-inverse-on-surface: rgb(46 50 43);
  --md-sys-color-inverse-primary: rgb(63 104 54);
  --md-sys-color-primary-fixed: rgb(192 239 176);
  --md-sys-color-on-primary-fixed: rgb(0 34 0);
  --md-sys-color-primary-fixed-dim: rgb(165 211 150);
  --md-sys-color-on-primary-fixed-variant: rgb(40 80 33);
  --md-sys-color-secondary-fixed: rgb(215 232 205);
  --md-sys-color-on-secondary-fixed: rgb(18 31 14);
  --md-sys-color-secondary-fixed-dim: rgb(187 203 178);
  --md-sys-color-on-secondary-fixed-variant: rgb(60 75 55);
  --md-sys-color-tertiary-fixed: rgb(188 235 238);
  --md-sys-color-on-tertiary-fixed: rgb(0 32 34);
  --md-sys-color-tertiary-fixed-dim: rgb(160 207 210);
  --md-sys-color-on-tertiary-fixed-variant: rgb(30 77 81);
  --md-sys-color-surface-dim: rgb(17 20 15);
  --md-sys-color-surface-bright: rgb(54 58 52);
  --md-sys-color-surface-container-lowest: rgb(11 15 10);
  --md-sys-color-surface-container-low: rgb(25 29 23);
  --md-sys-color-surface-container: rgb(29 33 27);
  --md-sys-color-surface-container-high: rgb(39 43 37);
  --md-sys-color-surface-container-highest: rgb(50 54 47);
}
