@charset "utf-8";

/* img element style */
img {
	border: none;
}

/* a element style */
a {
	text-decoration: none;
	font-weight: normal;
	font-size: 1em;
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "dotum", "Segoe UI", sans-serif;
	color : rgba(0, 0, 0, 0.87);
}

/* input element styles */
input[type='text'], input[type='number'], input[type='tel'], input[type='password'], select, textarea {
	border-radius: 3px;
	padding: 4px;
	border: 1px solid #80CBC4;
	font-size: 13px;
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "dotum", "Segoe UI", sans-serif;
	color : rgba(0, 0, 0, 0.87);
	vertical-align: middle;
	background-color: #fff;
	line-height: 100%;
	border-color: #B2DFDB;
	box-sizing: border-box;
}
input[type='text']:hover, input[type='number']:hover, input[type='tel']:hover, select:hover, textarea:hover, input[type='text']:focus, input[type='number']:focus, input[type='tel']:focus, select:focus, textarea:focus {
	background-color: #E0F2F1CC !important;
	box-shadow: inset 0 0 1px #4DB6AC;
	transition: border-color ease-in-out 0.20s, background-color ease-in-out 0.15s, box-shadow ease-in-out 0.20s;
}
input[disabled], input[disabled]:hover, input[disabled]:focus {
	background-color: #B2DFDB !important;
	color: #00897B !important;
}
input[readonly], input[readonly]:hover, input[readonly]:focus {
	background-color: #B2DFDB !important;
}
input[type='radio'], input[type='checkbox'] {
	margin: 0 3px 0 10px;
	vertical-align: middle;
	border: none;
}

/* N.grid */
.grid__ {
	margin: 0 0 15px 0;
	border-collapse: collapse;
	table-layout: fixed;
	border-top: 2px solid #26A69A;
}
.grid__:last-child {
	margin: 0;
}
.grid__ th, .grid__ td {
	border: 1px solid #80CBC4;
	padding: 4px;
	word-break: break-word;
	box-sizing: border-box;
}
.grid__ th, .grid__ > tfoot td {
	background-color: #B2DFDB;
}
.grid__.form th {
	background-color: #B2DFDB;
	text-align: right;
}

.tbody_wrap__ > table, .tfoot_wrap__ > table {
	border-top: inherit;
}
/* fixed column in thead */
.grid__ > thead > tr > th.grid_head_fixed__ {
	border-top: 2px solid #26A69A;
}
.grid__ input[type='text'], .grid__ input[type='tel'], .grid__ input[type='number'], .grid__ input[type='password'], .grid__ select, .grid__ textarea {
	height: 100%;
	width: 100%;
    border: none;
    background-color: transparent;
}