@charset "utf-8";

/* img element style */
img {
	border: none;
}

/* a element style */
a {
	text-decoration: none;
	font-weight: normal;
	font-size: 1em;
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "dotum", "Segoe UI", sans-serif;
	color : rgba(0, 0, 0, 0.87);
}

/* input element styles */
input[type='text'], input[type='number'], input[type='tel'], input[type='password'], select, textarea {
	border-radius: 3px;
	padding: 4px;
	border: 1px solid #A5D6A7;
	font-size: 13px;
	font-family: "Noto Sans KR", "Apple SD Gothic Neo", "Malgun Gothic", "dotum", "Segoe UI", sans-serif;
	color : rgba(0, 0, 0, 0.87);
	vertical-align: middle;
	background-color: #fff;
	line-height: 100%;
	border-color: #C8E6C9;
	box-sizing: border-box;
}
input[type='text']:hover,
input[type='number']:hover,
input[type='tel']:hover,
select:hover,
textarea:hover,
input[type='text']:focus,
input[type='number']:focus,
input[type='tel']:focus,
select:focus,
textarea:focus {
	box-shadow: inset 0 0 1px #81C784;
	transition: border-color ease-in-out 0.20s, box-shadow ease-in-out 0.20s;
}
input[disabled][type='text']:hover,
input[disabled][type='number']:hover,
input[disabled][type='tel']:hover,
select[disabled]:hover,
textarea[disabled]:hover,
input[disabled][type='text']:focus,
input[disabled][type='number']:focus,
input[disabled][type='tel']:focus,
select[disabled]:focus,
textarea[disabled]:focus {
	color: #43A047 !important;
	transition: color ease-in-out 0.20s,
}
input[readonly], input[readonly]:hover, input[readonly]:focus {
	background-color: #C8E6C9 !important;
}
input[type='radio'], input[type='checkbox'] {
	vertical-align: middle;
	border: none;
}

.select_input_label__ input[type='radio'], .select_input_label__ input[type='checkbox'] {
	margin: 0 3px 0 10px;
}

.grid__ input[type='text'], .grid__ input[type='tel'], .grid__ input[type='number'], .grid__ input[type='password'], .grid__ select, .grid__ textarea {
	height: 100%;
	width: 100%;
    border: none;
    background-color: transparent;
}