<article class="type0101 view-code">
    <div class="view-intro">
        <h1 lang="ko_KR">조회폼+그리드</h1>
        <h1 lang="en_US">Search form + Grid</h1>
        <ul class="view-desc">
            <li>조회폼(N.form)과 그리드(N.grid)로 구성된 간단한 예제입니다.</li>
            <li>공통코드 데이터를 자동으로 조회한 후 N.select 컴포넌트를 초기화하고 코드 데이터를 바인딩합니다.</li>
            <li>11만 건 이상의 데이터가 바인딩됩니다. 대용량 데이터도 빠른 속도로 바인딩되고 소팅, 필터링도 빠른 속도로 처리 가능합니다.</li>
        </ul>
    </div>

    <h3>N.form</h3>
    <div id="search" class="form__">
        <table>
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 23%;">
                <col style="width: 10%;">
                <col style="width: 23%;">
                <col style="width: 10%;">
                <col style="width: 23%;">
            </colgroup>
            <tbody>
                <tr>
                    <th>Name</th>
                    <td><input id="name" type="text"></td>
                    <th>Gender</th>
                    <td><input id="gender" type="radio"></td>
                    <th>Eye Color</th>
                    <td><select id="eyeColor">
                        <option lang="ko_KR" value="">선택</option>
                        <option lang="en_US" value="">Select</option>
                    </select></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex-horizental">
        <h3>N.grid</h3>
        <div class="btn-box" data-opts='{ "size": "none", "color": "none" }'>
            <a id="btnSearch" href="#" class="btn-search" data-opts='{ "size": "none", "color": "none" }'>
                <md-filled-button lang="ko_KR">조회</md-filled-button>
                <md-filled-button lang="en_US">Search</md-filled-button>
            </a>
        </div>
    </div>
    <table id="master" class="grid__">
        <colgroup>
            <col style="width: 12%;">
            <col style="width: 15%;">
            <col style="width: 15%;">
            <col style="width: auto;">
            <col style="width: 6%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col style="width: 12%;">
        </colgroup>
        <thead>
            <tr>
                <th>Index</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th data-filter="true">Age</th>
                <th data-filter="true">Gender</th>
                <th data-filter="true">Eye Color</th>
                <th data-filter="true">Favorite Fruit</th>
            </tr>
        </thead>
        <tbody>
            <tr style="text-align: center;">
                <td id="index"></td>
                <td id="name" style="text-align: left;"></td>
                <td id="phone"></td>
                <td id="email" style="text-align: left;"></td>
                <td id="age"></td>
                <td id="gender"></td>
                <td id="eyeColor"></td>
                <td id="favoriteFruit"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="11" style="text-align: right;">
                    <p lang="ko_KR"><span>전체 : </span> <span id="totalCnt">0</span> 건</p>
                    <p lang="en_US"><span>Total : </span> <span id="totalCnt">0</span></p>
                </td>
            </tr>
        </tfoot>
    </table>
</article>

<script type="text/javascript">
(function() {

    var cont = N(".type0101").cont({
        "p.select.gender" : [ "gender" ],
        "p.select.eyeColor" : [ "eyeColor" ],
        "p.select.favoriteFruit" : [ "favoriteFruit" ],
        "p.form.search" : {
            "usage" : "search-box"
        },
        "p.grid.master" : {
            "action" : "bind",
            filter : false,
            height : 350,
            onBind : function(context, data) {
                N("#totalCnt", cont.view).text(N.formatter.commas(String(data.length)));
            }
        },
        "c.getSampleList" : function() {
            return cont["p.form.search"].data(false).comm("sample/getSampleBigList.json");
        },
        "e.btnSearch.click" : async function(e) {
            e.preventDefault();

            if (cont["p.form.search"].validate()) {
                cont["p.grid.master"].bind(await cont["c.getSampleList"]().submit());
            }
        },
        "e.eyeColor.change" : {
        	target : "#search #eyeColor",
        	handler : function(e) {
        	    cont["e.btnSearch.click"].trigger("click");
            }
        },
        init : function(view, request) {
            // cont.opener는 탭이 포함된 부모페이지의 Controller object.
            if(cont.opener) {
                cont["p.form.search"].context().hide().prev("h3").hide().prev(".view-intro").hide();
                view.find("#btnSearch").hide();
            }
        }
    });

})();
</script>