<style>
.type0601 #master {
    border: 1px solid var(--md-sys-color-outline-variant);
    padding: 5px 10px;
    min-height: 609px;
}

.type0601 .btn-box {
    padding-top: 22px;
}

</style>
<article class="type0601 view-code" lang="ko_KR">
    <div class="view-intro">
        <h1 lang="ko_KR">트리+그리드(CRUD)</h1>
        <h1 lang="en_US">Tree + Grid(CRUD)</h1>
        <ul class="view-desc">
            <li>트리(N.tree)와 그리드(N.grid)로 구성된 예제입니다.</li>
            <li>N.tree의 onSelect 이벤트 옵션을 통해 N.grid 컴포넌트를 연동하는 방법을 알 수 있습니다.</li>
            <li>공통코드 데이터를 자동으로 조회한 후 N.select 컴포넌트를 초기화하고 코드 데이터를 바인딩합니다.</li>
            <li>그리드(N.grid)로 입력/조회/수정/삭제를 할 수 있습니다.</li>
        </ul>
    </div>

    <div class="flex-horizental">
        <div style="max-width: 218px;">
            <div class="flex-horizental">
                <h3 style="max-width: 55px">N.tree</h3>
                <div class="btn-box">
                    <a id="expandCollapse" href="#" data-opts='{ "size": "none", "color": "none" }'>
                        <md-filled-icon-button toggle>
                            <md-icon>expand_all</md-icon>
                            <md-icon slot="selected">collapse_all</md-icon>
                        </md-filled-icon-button>
		            </a>
                </div>
            </div>
            <div id="master"></div>
        </div>

        <div>
            <div class="flex-horizental">
                <h3>N.grid</h3>
                <div class="btn-box">
                    <a id="btnAdd" href="#" data-opts='{ "size": "none", "color": "none" }'>
                        <md-outlined-button lang="ko_KR">추가</md-outlined-button>
                        <md-outlined-button lang="en_US">Add</md-outlined-button>
		            </a>
                    <a id="btnDelete" href="#" data-opts='{ "size": "none", "color": "none" }'>
                        <md-outlined-button lang="ko_KR">삭제</md-outlined-button>
                        <md-outlined-button lang="en_US">Delete</md-outlined-button>
		            </a>
                    <a id="btnSave" href="#" data-opts='{ "size": "none", "color": "none" }'>
                        <md-filled-tonal-button lang="ko_KR">저장</md-filled-tonal-button>
                        <md-filled-tonal-button lang="en_US">Save</md-filled-tonal-button>
		            </a>
                </div>
            </div>

            <table id="detail" class="grid__">
                <colgroup>
                    <col style="width: 4%;">
                    <col style="width: 7%;">
                    <col style="width: 20%;">
                    <col style="width: auto;">
                    <col style="width: 11%;">
                    <col style="width: 11%;">
                    <col style="width: 5%;">
                    <col style="width: 12%;">
                    <col style="width: 7%;">
                    <col style="width: 0;">
                    <col style="width: 0;">
                </colgroup>
                <thead>
                    <tr>
                        <th><input id="checkAll" type="checkbox" title="Check all"></th>
                        <th>Index</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Eye Color</th>
                        <th>Age</th>
                        <th>Registered</th>
                        <th>Active</th>
                        <th>About</th>
                        <th>Greeting</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;"><input class="checkAllTarget" type="checkbox"></td>
                        <td id="index" style="text-align: center;"></td>
                        <td><input id="name" type="text" data-validate='[["required"]]'></td>
                        <td><input id="email" type="text" data-validate='[["required"], ["email"]]'></td>
                        <td style="text-align: center;"><select id="gender" data-validate='[["required"]]'>
                            <option lang="ko_KR" value="">선택</option>
                            <option lang="en_US" value="">Select</option>
                        </select></td>
                        <td style="text-align: center;"><select id="eyeColor" data-validate='[["required"]]'>
                            <option lang="ko_KR" value="">선택</option>
                            <option lang="en_US" value="">Select</option>
                        </select></td>
                        <td style="text-align: center;"><input id="age" type="text" data-validate='[["required"], ["integer"]]'></td>
                        <td><input id="registered" type="text" data-format='[["date", 8, "date"]]' data-validate='[["required"]]'></td>
                        <td style="text-align: center;"><input id="isActive" type="checkbox"></td>
                        <td><textarea id="about" style="min-width: 500px; min-height: 100px;"></textarea></td>
                        <td><textarea id="greeting"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>

<script type="text/javascript">
(function() {

    var cont = N(".type0601").cont({
        "p.select.gender" : [ "gender" ],
        "p.select.eyeColor" : [ "eyeColor" ],
        "p.tree.master" : {
            key : "deptNm",
            val : "deptCd",
            parent : "pDeptCd",
            level : "deptLv",
            folderSelectable : true,
            onSelect : function(selNodeIndex, selNodeEle, selNodeData) {
                cont["c.getSampleList"]({
                    deptCd : selNodeData.deptCd
                }).submit(function(data) {
                    cont["p.grid.detail"].bind(data);
                });
            }
        },
        "p.grid.detail" : {
            "action" : [ "hide", [ 9, 10 ] ],
            height : 590,
            filter : false,
            checkAll : "#checkAll",
            checkAllTarget : ".checkAllTarget"
        },
        "c.getSampleDeptList" : function() {
            return N.comm("sample/getSampleDeptList.json");
        },
        "c.getSampleList" : function(params) {
            return N(params).comm("sample/getSampleList.json");
        },
        "c.saveSample" : function() {
            return N(cont["p.grid.detail"].data("modified")).comm({
                dataIsArray : true, // Array 타입의 여러 행데이터가 1 개 일 때는 자동으로 Object로 변환됩니다. 자동으로 변환되지 않게 하려면 dataIsArray 옵션을 true로 지정해 주세요.
                url : "sample/saveSample.json"
            });
        },
        "e.expandCollapse.click" : function(e) {
            e.preventDefault();
            if (N(this).data("status") === "expand") {
                cont["p.tree.master"].closeAll(true);
                N(this).data("status", "collapse");
            } else {
                cont["p.tree.master"].openAll();
                N(this).data("status", "expand");
            }

        },
        "e.btnSave.click" : function(e) {
            e.preventDefault();

            return APP.comm.utils.save.call(this, {
                cont : cont,
                comm : "c.saveSample",
                changed : "p.grid.detail",
                validate : "p.grid.detail",
                after : function(data) {
                    cont["p.tree.master"].context(".tree_active__").trigger("click");
                }
            });
        },
        "e.btnAdd.click" : function(e) {
            e.preventDefault();
            cont["p.grid.detail"].add();
        },
        "e.btnDelete.click" : function(e) {
            e.preventDefault();

            return APP.comm.utils.del.call(this, {
                cont : cont,
                inst : "p.grid.detail"
            });
        },
        init : function(view, request) {
            cont["p.grid.detail"].bind();
            cont["c.getSampleDeptList"]().submit(function(data) {
                cont["p.tree.master"].bind(data);
            });
        }
    });

})();
</script>