<article class="type0701 view-code">
    <div class="view-intro">
        <h1 lang="ko_KR">조회폼+탭</h1>
        <h1 lang="en_US">Search form + Tab</h1>
        <ul class="view-desc">
            <li>조회폼(N.form)과 탭(N.tab)으로 구성된 예제입니다.</li>
            <li>탭의 콘텐츠 페이지들은 앞의 예제 페이지들의 소스를 그대로 불러와 사용(내부에서 분기 처리)합니다.</li>
            <li>탭 콘텐츠들의 조회 파라미터가 탭이 포함된 부모페이지의 조회폼으로 연동되어 있습니다.</li>
            <li>탭에서 자식 페이지들의 컨트롤러(cont) 오브젝트를 가져와 부모 컨트롤러에서 자식 페이지를 컨트롤하는 방법을 알 수 있습니다.</li>
            <li>자식 페이지들의 소스코드(컨트롤러 오브젝트의 init 메서드 부분)를 보면 부모페이지(텝이 포함된 페이지)의 컨트롤러 오브젝트를 가져와 부모 페이지의 조회폼 데이터(조회 파라미터)를 가져오는 방법을 알 수 있습니다.</li>
        </ul>
    </div>

    <h3>N.form</h3>
    <div id="search" class="form__">
        <div id="search" class="form__">
            <div class="search-panel">
                <ul>
                    <li><label><span>Name</span><input id="name" type="text"></label></li>
                    <li><label><span>Gender</span><select id="gender">
                        <option lang="ko_KR" value="">선택</option>
                        <option lang="en_US" value="">Select</option>
                    </select></label></li>
                    <li><label><span>Eye Color</span><select id="eyeColor">
                        <option lang="ko_KR" value="">선택</option>
                        <option lang="en_US" value="">Select</option>
                    </select></label></li>
                </ul>
            </div>
        </div>

        <div class="button-panel">
            <button id="btnSearch" href="#" data-opts='{ "color": "primary" }'>
                <span lang="ko_KR">조회</span>
                <span lang="en_US">Search</span>
            </button>
        </div>
    </div>

    <h3>N.tab</h3>
    <div id="master">
        <a href="#"><span></span></a> <!-- Go First Page Button -->
        <ul>
            <li data-opts='{ "url" : "html/naturaljs/template/samples/type0101.html" }'><a href="#tab1">
                <span lang="ko_KR">조회폼+그리드</span>
                <span lang="en_US">Search form + Grid</span>
            </a></li>
            <li data-opts='{ "url" : "html/naturaljs/template/samples/type0201.html" }'><a href="#tab2">
                <span lang="ko_KR">조회폼+그리드(CRUD)</span>
                <span lang="en_US">Search form + Grid(CRUD)</span>
            </a></li>
            <li data-opts='{ "url" : "html/naturaljs/template/samples/type0301.html", "active" : true }'><a href="#tab3">
                <span lang="ko_KR">조회폼+그리드+페이징</span>
                <span lang="en_US">Search form + Grid + Pagination</span>
            </a></li>
            <li data-opts='{ "url" : "html/naturaljs/template/samples/type0401.html" }'><a href="#tab4">
                <span lang="ko_KR">조회폼+그리드+상세폼(수평배치)</span>
                <span lang="en_US">Search form + Grid + Detail form(Horizontal placement)</span>
            </a></li>
            <li data-opts='{ "url" : "html/naturaljs/template/samples/type0402.html" }'><a href="#tab5">
                <span lang="ko_KR">조회폼+그리드+상세폼(수직배치)</span>
                <span lang="en_US">Search form + Grid + Detail form(Vertical placement)</span>
            </a></li>
        </ul>
        <a href="#"><span></span></a> <!-- Go Last Page Button -->
        <div id="tab1"></div>
        <div id="tab2"></div>
        <div id="tab3"></div>
        <div id="tab4"></div>
        <div id="tab5"></div>
    </div>
</article>

<script type="text/javascript">
(function() {

    var cont = N(".type0701").cont({
        "p.select.gender" : [ "gender" ],
        "p.select.eyeColor" : [ "eyeColor" ],
        "p.form.search" : {
            "usage" : "search-box"
        },
        "p.tab.master" : {
            "tabScroll": true
        },
        "e.btnSearch.click" : function(e) {
            e.preventDefault();
            // 활성화된 탭 페이지에서 컨트롤러 가져오기
            var cCont = cont["p.tab.master"].cont();
            cCont["p.form.search"].bind(0, cont["p.form.search"].data());
            cCont["e.btnSearch.click"].trigger("click");
        },
        "e.gender.change" : {
            target : "#search #gender",
            handler : function(e) {
                cont["e.btnSearch.click"].trigger("click");
            }
        },
        "e.eyeColor.change" : {
            target : "#search #eyeColor",
            handler : function(e) {
                cont["e.btnSearch.click"].trigger("click");
            }
        },
        init : function(view, request) {
        }
    });

})();
</script>