<style>
    .type0601 #master {
        border: 1px solid var(--md-sys-color-outline-variant);
        min-height: 484px;
        border-radius: var(--njs-border-radius-l);
    }

    .type0601 .icon {
        padding: 0;
        margin: 0;
    }
    .type0601 .icon a {
        display: inline-block;
        margin-top: 10px;
    }
    .type0601 .expand {
        display: none;
    }
    .type0601 .collapse svg,
    .type0601 .expand svg {
        height: 24px;
        width: 24px;
        fill: var(--md-sys-color-secondary);
    }
</style>
<article class="type0601 view-code">
    <div class="view-intro">
        <h1 lang="ko_KR">트리+그리드(CRUD)</h1>
        <h1 lang="en_US">Tree + Grid(CRUD)</h1>
        <ul class="view-desc">
            <li>트리(N.tree)와 그리드(N.grid)로 구성된 예제입니다.</li>
            <li>N.tree의 onSelect 이벤트 옵션을 통해 N.grid 컴포넌트를 연동하는 방법을 알 수 있습니다.</li>
            <li>공통코드 데이터를 자동으로 조회한 후 N.select 컴포넌트를 초기화하고 코드 데이터를 바인딩합니다.</li>
            <li>그리드(N.grid)로 입력/조회/수정/삭제를 할 수 있습니다.</li>
        </ul>
    </div>

    <div class="flex-horizental">
        <div style="max-width: 218px;">
            <div class="flex-horizental">
                <h3>N.tree</h3>
                <div class="button-panel icon">
                    <a id="expandCollapse" href="#" data-opts='{ "size": "none", "color": "none" }'>
                        <span class="collapse"><svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m2.009 12.002c0-5.517 4.48-9.997 9.998-9.997s9.998 4.48 9.998 9.997c0 5.518-4.48 9.998-9.998 9.998s-9.998-4.48-9.998-9.998zm1.5 0c0 4.69 3.808 8.498 8.498 8.498s8.498-3.808 8.498-8.498-3.808-8.497-8.498-8.497-8.498 3.807-8.498 8.497zm6.711-4.845c-.141-.108-.3-.157-.456-.157-.389 0-.755.306-.755.749v8.501c0 .445.367.75.755.75.157 0 .316-.05.457-.159 1.554-1.203 4.199-3.252 5.498-4.258.184-.142.29-.36.29-.592 0-.23-.107-.449-.291-.591zm.289 7.564v-5.446l3.523 2.718z" fill-rule="nonzero"/></svg></span>
                        <span class="expand"><svg clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m11.998 2c5.517 0 9.997 4.48 9.997 9.998 0 5.517-4.48 9.997-9.997 9.997-5.518 0-9.998-4.48-9.998-9.997 0-5.518 4.48-9.998 9.998-9.998zm0 1.5c-4.69 0-8.498 3.808-8.498 8.498s3.808 8.497 8.498 8.497 8.497-3.807 8.497-8.497-3.807-8.498-8.497-8.498zm4.845 6.711c.108-.141.157-.3.157-.456 0-.389-.306-.755-.749-.755h-8.501c-.445 0-.75.367-.75.755 0 .157.05.316.159.457 1.203 1.554 3.252 4.199 4.258 5.498.142.184.36.29.592.29.23 0 .449-.107.591-.291zm-7.564.289h5.446l-2.718 3.522z" fill-rule="nonzero"/></svg></span>
		            </a>
                </div>
            </div>
            <div id="master"></div>
        </div>

        <div>
            <div class="flex-horizental">
                <h3>N.grid</h3>
                <div class="button-panel">
                    <a id="btnAdd">
                        <span lang="ko_KR">추가</span>
                        <span lang="en_US">Add</span>
		            </a>
                    <a id="btnDelete">
                        <span lang="ko_KR">삭제</span>
                        <span lang="en_US">Delete</span>
		            </a>
                    <a id="btnSave">
                        <span lang="ko_KR">저장</span>
                        <span lang="en_US">Save</span>
		            </a>
                </div>
            </div>

            <table id="detail" class="grid__">
                <colgroup>
                    <col style="width: 4%;">
                    <col style="width: 7%;">
                    <col style="width: 20%;">
                    <col style="width: auto;">
                    <col style="width: 11%;">
                    <col style="width: 11%;">
                    <col style="width: 5%;">
                    <col style="width: 12%;">
                    <col style="width: 7%;">
                    <col style="width: 0;">
                    <col style="width: 0;">
                </colgroup>
                <thead>
                    <tr>
                        <th><input id="checkAll" type="checkbox" title="Check all"></th>
                        <th>Index</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Gender</th>
                        <th>Eye Color</th>
                        <th>Age</th>
                        <th>Registered</th>
                        <th>Active</th>
                        <th>About</th>
                        <th>Greeting</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;"><input class="checkAllTarget" type="checkbox"></td>
                        <td id="index" style="text-align: center;"></td>
                        <td><input id="name" type="text" data-validate='[["required"]]'></td>
                        <td><input id="email" type="text" data-validate='[["required"], ["email"]]'></td>
                        <td style="text-align: center;"><select id="gender" data-validate='[["required"]]'>
                            <option lang="ko_KR" value="">선택</option>
                            <option lang="en_US" value="">Select</option>
                        </select></td>
                        <td style="text-align: center;"><select id="eyeColor" data-validate='[["required"]]'>
                            <option lang="ko_KR" value="">선택</option>
                            <option lang="en_US" value="">Select</option>
                        </select></td>
                        <td style="text-align: center;"><input id="age" type="text" data-validate='[["required"], ["integer"]]'></td>
                        <td><input id="registered" type="text" data-format='[["date", 8, "date"]]' data-validate='[["required"]]'></td>
                        <td style="text-align: center;"><input id="isActive" type="checkbox"></td>
                        <td><textarea id="about" style="min-width: 500px; min-height: 100px;"></textarea></td>
                        <td><textarea id="greeting"></textarea></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>

<script type="text/javascript">
(function() {

    var cont = N(".type0601").cont({
        "p.select.gender" : [ "gender" ],
        "p.select.eyeColor" : [ "eyeColor" ],
        "p.tree.master" : {
            key : "deptNm",
            val : "deptCd",
            parent : "pDeptCd",
            level : "deptLv",
            folderSelectable : true,
            onSelect : function(selNodeIndex, selNodeEle, selNodeData) {
                cont["c.getSampleList"]({
                    deptCd : selNodeData.deptCd
                }).submit(function(data) {
                    cont["p.grid.detail"].bind(data);
                });
            }
        },
        "p.grid.detail" : {
            "action" : [ "hide", [ 9, 10 ] ],
            height : 450,
            filter : false,
            checkAll : "#checkAll",
            checkAllTarget : ".checkAllTarget"
        },
        "c.getSampleDeptList" : function() {
            return N.comm("sample/getSampleDeptList.json");
        },
        "c.getSampleList" : function(params) {
            return N(params).comm("sample/getSampleList.json");
        },
        "c.saveSample" : function() {
            return N(cont["p.grid.detail"].data("modified")).comm({
                dataIsArray : true, // Array 타입의 여러 행데이터가 1 개 일 때는 자동으로 Object로 변환됩니다. 자동으로 변환되지 않게 하려면 dataIsArray 옵션을 true로 지정해 주세요.
                url : "sample/saveSample.json"
            });
        },
        "e.expandCollapse.click" : function(e) {
            e.preventDefault();
            if (N(this).data("status") === "expand") {
                N(".button-panel .expand", cont.view).hide();
                N(".button-panel .collapse", cont.view).show();
                cont["p.tree.master"].collapse(true);
                N(this).data("status", "collapse");
            } else {
                N(".button-panel .expand", cont.view).show();
                N(".button-panel .collapse", cont.view).hide();
                cont["p.tree.master"].expand();
                N(this).data("status", "expand");
            }

        },
        "e.btnSave.click" : function(e) {
            e.preventDefault();

            return APP.comm.utils.save.call(this, {
                cont : cont,
                comm : "c.saveSample",
                changed : "p.grid.detail",
                validate : "p.grid.detail",
                after : function(data) {
                    cont["p.tree.master"].context(".tree_active__").trigger("click");
                }
            });
        },
        "e.btnAdd.click" : function(e) {
            e.preventDefault();
            cont["p.grid.detail"].add();
        },
        "e.btnDelete.click" : function(e) {
            e.preventDefault();

            return APP.comm.utils.del.call(this, {
                cont : cont,
                inst : "p.grid.detail"
            });
        },
        init : function(view, request) {
            cont["p.grid.detail"].bind();
            cont["c.getSampleDeptList"]().submit(function(data) {
                cont["p.tree.master"].bind(data);
            });
        }
    });

})();
</script>