<article class="type0501 view-code">
    <div class="view-intro">
        <h1 lang="ko_KR">조회폼+리스트+그리드+상세폼</h1>
        <h1 lang="en_US">Search form + List + Grid + Detail form</h1>
        <ul class="view-desc">
            <li>조회폼(N.form)과 리스트(N.list), 리스트와 연동된 그리드(N.grid), 그리드와 연동된 상세 데이터 폼(N.form)으로 구성된 예제입니다.</li>
            <li>N.grid(또는 N.list)의 onSelect 이벤트 옵션을 통해 N.list(또는 N.grid)와 N.list(또는 N.grid), N.form 컴포넌트를 연동하는 방법을 알 수 있습니다.</li>
            <li>공통코드 데이터를 자동으로 조회 한 후 N.select 컴포넌트를 초기화하고 코드 데이터를 바인딩합니다.</li>
            <li>폼(N.form)에서 버튼을 통해 N.popup(부서조회 팝업)과 연동하는 방법을 알 수 있습니다.</li>
        </ul>
    </div>

    <h3>N.form</h3>
    <div id="search" class="form__">
        <table>
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 20%;">
                <col style="width: 70%;">
            </colgroup>
            <tbody>
                <tr>
                    <th>Company</th>
                    <td><input id="company" type="text" data-validate='[["alphabet+integer"]]'></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="flex-horizental">
        <div style="max-width: 20%;">
            <div class="flex-horizental">
                <h3 style="max-width: 50px;">N.list</h3>
                <div class="btn-box">
                    <a id="btnSearch" href="#" class="btn-search">
		                <span lang="ko_KR">조회</span>
		                <span lang="en_US">Search</span>
		            </a>
                </div>
            </div>
            <ul id="codeMaster" class="list__">
                <li><span id="val"></span></li>
            </ul>
        </div>
        <div style="max-width: 30%;">
            <div class="flex-horizental">
                <h3>N.grid</h3>
                <div class="btn-box">
                    <a id="btnSave" href="#">
		                <span lang="ko_KR">저장</span>
		                <span lang="en_US">Save</span>
		            </a>
                </div>
            </div>
            <table id="master" class="grid__">
                <colgroup>
                    <col style="width: 20%;">
                    <col style="width: 60%;">
                    <col style="width: 20%;">
                </colgroup>
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Name</th>
                        <th>Active</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td id="index" style="text-align: center;"></td>
                        <td id="name"></td>
                        <td id="isActive" style="text-align: center;"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div class="flex-horizental">
                <h3>N.form</h3>
                <div class="btn-box">
                    <a id="btnAdd" href="#">
		                <span lang="ko_KR">추가</span>
		                <span lang="en_US">Add</span>
		            </a>
                    <a id="btnDelete" href="#">
		                <span lang="ko_KR">삭제</span>
		                <span lang="en_US">Delete</span>
		            </a>
                    <a id="btnRevert" href="#">
		                <span lang="ko_KR">초기화</span>
		                <span lang="en_US">Reset</span>
		            </a>
                </div>
            </div>

            <table id="detail" class="form__">
                <colgroup>
                    <col style="width: 15%;">
                    <col style="width: 35%;">
                    <col style="width: 15%;">
                    <col style="width: 35%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th rowspan="7">Picture</th>
                        <td rowspan="7" style="text-align: center; vertical-align: middle;"><img
                            src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs%3D" height="110"></td>
                        <th>Name</th>
                        <td><input id="name" type="text" data-validate='[["required"]]'></td>
                    </tr>
                    <tr>
                        <th>Department</th>
                        <td><input id="deptNm" type="text" data-validate='[["required"]]' style="width: 50%;" readonly="readonly"> <a id="btnDept" href="#"
                            data-opts='{ "size" : "small" }'>
			                <span lang="ko_KR">조회</span>
			                <span lang="en_US">Find</span>
			            </a></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td><input id="email" type="text" data-validate='[["required"], ["email"]]'></td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td><input id="key" type="text" data-format='[["generic", "@@＊＊＊＊＊＊"]]' data-validate='[["required"]]'></td>
                    </tr>
                    <tr>
                        <th>Balance</th>
                        <td><input id="balance" type="text" data-format='[["numeric", "$#,###.##0"]]' data-validate='[["required"], ["number"]]'></td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td><input id="phone" type="text" data-validate='[["required"]]'></td>
                    </tr>
                    <tr>
                        <th>Eye color</th>
                        <td><select id="eyeColor" class="select__" data-validate='[["required"]]'>
                            <option lang="ko_KR" value="">선택</option>
                            <option lang="en_US" value="">Select</option>
                        </select></td>
                    </tr>
                    <tr>
                        <th rowspan="4">Company</th>
                        <td rowspan="4"><select id="company" multiple="multiple" class="select__" data-validate='[["required"]]' style="height: 95px;"></select></td>
                        <th>Gender</th>
                        <td><input id="gender" type="radio" class="select__"></td>
                    </tr>
                    <tr>
                        <th>Age</th>
                        <td><input id="age" type="text" data-validate='[["required"], ["integer"]]'></td>
                    </tr>
                    <tr>
                        <th>Favorite fruit</th>
                        <td><input id="favoriteFruit" type="checkbox" class="select__" data-validate='[["required"]]'></td>
                    </tr>
                    <tr>
                        <th>Registered</th>
                        <td><input id="registered" type="text" data-format='[["date", 8, "date"]]' data-validate='[["required"]]'></td>
                    </tr>
                    <tr>
                        <th>About</th>
                        <td colspan="3"><textarea id="about" style="width: 100%;" rows="3" data-validate='[["required"]]'></textarea></td>
                    </tr>
                    <tr>
                        <th>Greeting</th>
                        <td colspan="3"><textarea id="greeting" style="width: 100%;" rows="3" data-validate='[["required"]]'></textarea></td>
                    </tr>
                    <tr>
                        <th>Active</th>
                        <td colspan="3"><input id="isActive" type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</article>

<script type="text/javascript">
(function() {

    var cont = N(".type0501").cont({
        "p.select.gender" : [ "gender" ],
        "p.select.eyeColor" : [ "eyeColor" ],
        "p.select.company" : [ "company" ],
        "p.select.favoriteFruit" : [ "favoriteFruit" ],
        "p.form.search" : {
            "usage" : "search-box"
        },
        "p.form.detail" : {
            revert : true,
            autoUnbind : true,
            onBind : function(context, rowData) {
             	// 2.3. 로딩바 업데이트
                N.docs.updateLoadIndicator.call(APP.indx.docs, 0, 2);
             	// 3. 로딩바 제거
                N.docs.removeLoadIndicator.call(APP.indx.docs);
            }
        },
        "p.list.codeMaster" : {
            height : 438,
            select : true,
            onSelect : function(index, rowEle, data, beforeRow, e) {
                // onSelect 함수는 .data("selected") 함수 전에 실행 되므로 부자연 스럽지만 setTimeout(0)을 넣어줌.
                setTimeout(function() {
                    cont["c.getSampleList"]().submit(function(data) {
                        cont["p.grid.master"].bind(data);
                    });
                }, 0);
            },
            onBind : function(context, data, isFirstPage, isLastPage) {
                if(isFirstPage) {
                    this.select(0);
                }

             	// 2.2. 로딩바 업데이트
                N.docs.updateLoadIndicator.call(APP.indx.docs, 1, 2);
            }
        },
        "p.grid.master" : {
            height : 412,
            select : true,
            selectScroll : false,
            onSelect : function(index, rowEle, data, beforeRow, e) {
             	// TODO 전처리

                APP.comm.utils.selectNBind.call(this, {
                    cont : cont,
                    form : "p.form.detail"
                });

             	// TODO 후처리
            },
            onBind : function(context, data, isFirstPage, isLastPage) {
                if(isFirstPage) {
                    this.select(0);
                }

             	// 2.1. 로딩바 업데이트
                N.docs.updateLoadIndicator.call(APP.indx.docs, 2, 2);
            }
        },
        "p.popup.dept" : {
            url : "html/naturaljs/template/samples/type04P0.html",
            onOpen : "onOpen",
            height: 621,
            onClose : function(onCloseData) {
                if (onCloseData) {
                    cont["p.form.detail"].val("deptNm", onCloseData.deptNm);
                    cont["p.form.detail"].val("deptCd", onCloseData.deptCd);
                }
            }
        },
        "c.getSampleCodeCompanyList" : function() {
            return cont["p.form.search"].data(false).comm("sample/code/getSampleCodeCompanyList.json");
        },
        "c.getSampleList" : function() {
            var params = {};
            if(cont["p.list.codeMaster"].data("selected").length > 0) {
                params.company = cont["p.list.codeMaster"].data("selected")[0].val;
            }
            return N(params).comm("sample/getSampleList.json");
        },
        "c.saveSample" : function() {
            return N(cont["p.grid.master"].data("modified")).comm({
                dataIsArray : true,dataIsArray : true, // Array 타입의 여러 행데이터가 1 개 일 때는 자동으로 Object로 변환됩니다. 자동으로 변환되지 않게 하려면 dataIsArray 옵션을 true로 지정해 주세요.
                url : "sample/saveSample.json"
            });
        },
        "e.btnSearch.click" : function(e) {
            e.preventDefault();

            // 1. 로딩바 생성
            N.docs.createLoadIndicator.call(APP.indx.docs);

            if (cont["p.form.search"].validate()) {
                cont["c.getSampleCodeCompanyList"]().submit(function(data) {
                    cont["p.list.codeMaster"].bind(data);
                });
            }
        },
        "e.btnDept.click" : function(e) {
            e.preventDefault();
            cont["p.popup.dept"].open(cont["p.form.detail"].data(true)[0]);
        },
        "e.btnSave.click" : function(e) {
            e.preventDefault();
            return APP.comm.utils.save.call(this, {
                cont : cont,
                comm : "c.saveSample",
                changed : "p.grid.master",
                validate : "p.form.detail",
                before : function() {
                    // TODO
                },
                after : function(data) {
                    cont["p.list.codeMaster"].select(cont["p.list.codeMaster"].select());
                }
            });
        },
        "e.btnAdd.click" : function(e) {
            e.preventDefault();
            if (cont["p.form.detail"].validate()) {
                cont["p.form.detail"].add();
            }
        },
        "e.btnDelete.click" : function(e) {
            e.preventDefault();
            cont["p.form.detail"].remove();
        },
        "e.btnRevert.click" : function(e) {
            e.preventDefault();
            if (cont["p.grid.master"].data("modified").length === 0) {
                N(window).alert(N.message.get(APP.comm.messages, "COMM-0001")).show();
                return false;
            }
            cont["p.form.detail"].revert();
        },
        init : function(view, request) {
            cont["e.btnSearch.click"].click();
        }
    });

})();
</script>