@charset "utf-8";

html, body {
	background-color : #efefef;
}

body, pre, textarea, select {
    margin: 0;
    font-size: 12px;
	font-family: "맑은 고딕", "dotum", "Segoe UI", sans-serif;
	color: #002200;
}

input[type='text'], input[type='password'], select, textarea, pre.data, div.data {
	border-radius: 3px;
	padding: 3px 3px;
	border: 1px solid #cccccc;
	font-size: 12px;
	font-family: "맑은 고딕", "dotum", "Segoe UI", sans-serif;
	color: #002200;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.075);
	vertical-align: middle;
}

input[type='text'], input[type='password'] {
	height: 20px;
	line-height: 20px;
}

input[type='text']:hover, input[type='password']:hover, select:hover, textarea:hover,
input[type='text']:focus, input[type='password']:hover, select:focus, textarea:focus {
	border-color: #faaeae;
	background-color: #ffe5e5;
}

a {
	text-decoration: none;
	font-weight: normal;
	font-size: 12px;
	font-family: "맑은 고딕", "dotum", "Segoe UI", sans-serif;
	color: #002200;
}

table {
	width: 100%;
	padding: 0;
	margin: 0 0 15px 0;
	border-collapse: collapse;
}

table td, table th {
	padding: 5px;
}

label {
	color: #006600;
	font-weight: bold;
}

/* demo page layout */
div#header {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 800px;
	padding-bottom: 5px;
}

div#header span#logo {
	font-size: 32px;
	color: #008000;
	font-weight: bold;
}

div#top {
	background: linear-gradient(top, #fefeee, #ffffff);
	background: -ms-linear-gradient(top, #fefeee, #ffffff);
	background: -moz-linear-gradient(top, #fefeee, #ffffff);
	background: -o-linear-gradient(top, #fefeee, #ffffff);
	background: -webkit-linear-gradient(top, #fefeee, #ffffff);
	position: absolute;
	width: 100%;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.4);
}

div#top div#gnb {
	margin: 0 auto;
	max-width: 1200px;
	min-width: 800px;
}

div#top div#gnb ul.item {
	display: inline-table;
	padding: 0 10px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
}

div#top div#gnb ul.item li {
	display: none;
	margin: 1px 0 1px 0;
	padding: 5px 0 0 20px;
}

div#top div#gnb ul.item:hover li {
	display: block;
}

div#main {
	background-color: #ffffff;
	margin: 43px auto;
	max-width: 1200px;
	min-width: 800px;
	border: 1px solid #cccccc;
    border-radius : 0 0 10px 10px;
    behavior: url("/lib/PIE_uncompressed.htc")\9;
}

div#main div#contents {
	line-height: 20px;
}

.divBar {
	background-color : #efffff;
	color: #007700;
	padding: 5px 5px 5px 10px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	margin: 0 0 15px 0;
	font-weight: bold;
}


.demoBox {
	padding: 10px;
}

.data {
	width: 100%;
	height: 200px;
	margin-bottom: 15px;
}

.btnBox {
	margin: 0 0 15px 0;
}

.btnBox a {
	margin: 0 10px;
}

.dataBox {
	padding: 10px;
}

.sourceBox {
	padding: 10px;
}